# Server settings
PORT=5000
BASE_URL=http://localhost:5000

# MySQL settings
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=oulamauna_db

# JWT secret or other keys
JWT_SECRET=your secret
JWT_EXPIRES_IN=24h
# password for using emails -if needed-
USER_EMAIL="oulamauna.official@gmail.com"
USER_PASS="xucx mejx texr olud"

#  Environment mode
NODE_ENV="development"     #  later will be 'production'